<nav class="navbar navbar-expand-lg nav-bar-color">
    <div class="container-fluid">
      <div class="container-fluid" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Начало</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/ads">Всички обяви</a>
          </li>
          @if(userService.hasActiveSession()){
            <li class="nav-item">
              <a class="nav-link" routerLink="/my-ads">Моите обяви</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Любими</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ad/create" >Добави обява</a>
           </li>
          }
          <li class="nav-item">
            <a class="nav-link" routerLink="/forum" href="#">Форум</a>
          </li>
          <ul class="navbar-nav ms-auto">
            @if(userService.hasActiveSession()){
              <li class="nav-item">
                <a (click)="logOut()" class="nav-link" routerLink="/home">Изход</a>
             </li>
            }@else{ 
             <li class="nav-item">
                <a class="nav-link" routerLink="/login">Вход</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" routerLink="/registration">Регистрация</a>
             </li>
            }
          </ul>
        </ul>
      </div>
    </div>
  </nav>