<div class="component-header">
    <div class="text-center">
        <h4 value="title"></h4>
    </div>
    @if(!hasErrors()){
        @if(showOwnerButtons()){
            <div class="container d-flex justify-content-end">
                <input (click) = "onEditButtonClick()"  class="btn btn-warning me-2" type="button" value="Редактирай"> 
                <input (click) = "onDeleteButton()" class="btn btn-danger" type="button" value="Изтрий"> 
                @if(isInEditMode()){
                    <input (click) = "onCancelClick()" class="btn btn-secondary ms-2" type="button" value="Отказ"> 
                }
            </div>
        }
        <div class="container text-start form-border">
            <form [formGroup]="createAdForm" (ngSubmit)="handleCreate()">
                <fieldset [disabled]="!enableControls()">
                    <div class="row">
                        <div class="col">
                            <app-drop-down formControlName="carBrand" (onSelectItem) = "onCarBrandSelectItem($event)" [contextData] = "pageModel.firstSectionFields.carBrandContextData">
                            </app-drop-down>
                        </div>
                        <div class="col">
                            <app-drop-down formControlName="carModels" [contextData] = "pageModel.firstSectionFields.carModelsContextData">
                            </app-drop-down>
                        </div>
                        <div class="col">
                            <app-drop-down formControlName="carGearType" [contextData] = "pageModel.firstSectionFields.carGearTypeContextData">
                            </app-drop-down>
                        </div>
                        <div class="col">
                            <app-drop-down formControlName="carFuelType" [contextData] = "pageModel.firstSectionFields.carFuelTypeContextData">
                            </app-drop-down>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <input-field formControlName="carDistance" [contextData] = "pageModel.secondSectionFields.carDistanceContextData"></input-field>
                        </div>
                        <div class="col">
                            <input-field formControlName="carYear" [contextData] = "pageModel.secondSectionFields.carYearContextData"></input-field>
                        </div>
                        <div class="col">
                            <app-drop-down formControlName="region" [contextData] = "pageModel.secondSectionFields.regionContextData">
                            </app-drop-down>
                        </div>
                        <div class="col">
                            <app-drop-down formControlName="euroStandard" [contextData] = "pageModel.secondSectionFields.euroStandardContextData">
                            </app-drop-down>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col">
                            <input-field formControlName="carPrice" [contextData] = "pageModel.thirdSectionFields.carPriceContextData"></input-field>
                        </div>
                        <div class="col">
                            <app-drop-down formControlName="carPriceCurrency" [contextData] = "pageModel.thirdSectionFields.carPriceCurrencyContextData">
                            </app-drop-down>
                        </div>
                        <div class="col">
                            <input-field formControlName="horsePower" [contextData] = "pageModel.thirdSectionFields.horsePowerContextData"></input-field>
                        </div>
                        <div class="col">
                            <input-field formControlName="engineDisplacement" [contextData] = "pageModel.thirdSectionFields.engineDisplacementContextData"></input-field>
                        </div>
                    </div>
                </fieldset>
                @if(isInCreateMode()){
                    <button class="create-ad-button btn btn-primary" type="submit">Създаване на обява</button>

                }
                @else if(isInEditMode()){ 
                    <input (click)="handleUpdate()" class="save-changes-button btn btn-success" type="button" value="Запази промените"> 
                }
            </form>

            @if(hasInvalidFormData()){
                <div class="error-message">Невалидни стойнсти във формата!</div>
            }
        </div>
    }
    @else{
        <div>
            <p>Възникна грешка!</p>
        </div>
    }    
</div>