<div class="col-md-2 classic-filter-row overlay">
    <form action="" method="get" data-trigger="filter">
        <div class="filter filter-sidebar">
            <span class="h4">Търсене</span>

            <app-drop-down (onSelectItem) = "onSelectItem($event)" [contextData] = "pageModel.carBrandContextData">
            </app-drop-down>

            <app-drop-down [contextData] = "pageModel.carModelsContextData">
            </app-drop-down>

        </div>
        <div class="sidebar-action-units"> 
            <input type="button" (click) = "onSearchButtonClick()" class="filter-search-button" value="Покажи колите">
            <!-- <button (click) = "onSearchButtonClick()" class="filter-search-button">Покажи колите</button> -->
            <a href="" class="button">
                <input type="button" value="Изчисти"> 
            </a>
        </div>
    </form>
</div>
<router-outlet></router-outlet>    