.classic-filter-row .filter-sidebar {
    padding: 0 22px 30px;
    background-color: #fff;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .18);
}

.filter {
    margin-bottom: 10px;
    margin-top: 10px;
}

.filter-search-button{
    margin-right: 10px;
}


.background-image {
  width: 100%; /* Изображението покрива целия контейнер */
  height: auto; /* Запазва пропорциите на изображението */
  display: block; /* Премахва излишни отстояния под изображението */
  margin: 0; /* Уверете се, че няма отстояние */
  padding: 0;
}

.overlay {
  transform: translate(0, -30%); 
  position: absolute; /* Абсолютно позициониране спрямо родителския контейнер */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачен черен фон */
  padding: 15px; /* Отстояние вътре в overlay */
  border-radius: 8px; /* Закръглени ъгли */
}

/* .parent::after {
  content: '';
  display: block;
  height: calc(50% + 100px); 
} */
