.create-ad-button{
    margin-top: 10px;
    margin-bottom : 10px;
}

.form-border{
    margin-top: 15px;
    border: #eff0f4 3px solid;
}

.component-header{
    margin-top: 10px;
    margin-bottom : 10px;
}