<div class="form-display-position">
    <form class="login-form" action="" method="post">
        <h2>Вход</h2>
        <div class="form-group">
            <input-field [contextData] = "pageModel.emailInputContextData"></input-field>
        </div>
        <div class="form-group">
            <input-field [contextData] = "pageModel.passwordInputContextData"></input-field>
            <!-- <label for="password">Парола</label>
            <input (blur) type="password" placeholder="Въведете паролата си" required> -->
        </div>
        <button (click)="login($event)" class="submit-btn">Вход</button>
    </form>

    @if(loginFailed){
        <div class="error-message">
            {{ errorMessage }}
        </div>
    }
</div>
