<div class="drop-down-control">
    <p class="drop-down-control-header">{{ dropDownTitle }}</p>
    @if(!useCheckBoxes){
        <select  (change)="onSelectedItem($event)" class="form-control" tabindex="-1">
            @for (item of dropDownItems; track item) {
                @if(!useCheckBoxes){
                    <option id="{{ item.itemID }}">{{ item.name }}</option>
                }
            }
        </select>
    }
    @else{
        <div class="custom-dropdown">
            <button class="form-control dropdown-checkbox-container-text">{{ dropDownTitle }}</button>
            <div class="dropdown-menu">
                @for (item of dropDownItems; track item) {
                    <label>
                        <input (change)="onCheckClicked($event)" type="checkbox" value="{{ item.itemID }}"> {{ item.name }}
                    </label>
                }
            </div>
        </div>
    }
    
</div>