<div class="drop-down-control">
    <p class="drop-down-control-header">{{ this.contextData.getDropDownTitle() }}</p>
    @if(!this.contextData.getUseCheckBoxesFlag()){
        <select [disabled]="!this.contextData.getEnableControl()"  (change)="onSelectedItem($event)" class="form-control" tabindex="-1" required>
            <option value="" disabled selected>Изберете опция</option>
            @for (item of contextData.getInputData(); track item) {
                <option id="{{ item.itemID }}">{{ item.name }}</option>
            }
        </select>
    }
    @else{
        <div class="custom-dropdown">
            <div class="form-control dropdown-checkbox-container-text">
                {{ this.contextData.getDropDownTitle() }}
            </div>

            <div class="dropdown-menu">
                @for (item of contextData.getInputData(); track item) {
                    <label>
                        <input (change)="onCheckClicked($event)" type="checkbox" value="{{ item.itemID }}"> {{ item.name }}
                    </label>
                }
            </div>
        </div>
    }
    
</div>